/* ----------- iPhone X ----------- */
/* Taken from https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 

  

}

#hamburger {
    position: absolute;
    left: 10px;
    top: 10px;
}

#navbar {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    font-size: 40px;
    background-color: #D71920;
}

#dropdown-container {
    display: none;
    position: absolute;
    background-color: #F6DBDB;
    width: 500px;
    top: 125px;
    left: 0px;
}

#school-logo {
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    width: 100%;
}

ul {
    list-style: none;
}

.dropdown-text {
    display: inline;
}

.dropdown-item {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    background-color: #FFFFFF;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #FFF1F1;
}

.dropdown-item:last-of-type {
    padding-bottom: 20px;
}

.svg-icon {
    cursor:pointer;
}