/* ----------- iPhone X ----------- */
/* Taken from https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */
/* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) { 

  

}

#hamburger {
    position: absolute;
    left: 10px;
    top: 10px;
}

header {
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    font-size: 40px;
    background-color: #D71920;
}

#dropdown-container {
    display: none;
}